@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
	font-family: 'Fjalla One', sans-serif;
	
}

.title{
	position: absolute;
	right: 50px;
	top: 20px;
	color: white;
	font-size: 30px;
	
}

hr{
	margin-left: 0;
	width: 100px;
	border: none;
	border-bottom: solid 2px white;
}

